/* navbar: */

.header-main {
    width: 100%;
    background-color: #303030;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.navbar-main {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.logo-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 6px;
}

.logo-txt {
    font-family: Montserrat-Bold;
    font-size: 1.875rem;
    text-transform: uppercase;
}

.logo-img {
    height: 44px;
    margin-inline-end: 6px;
}

.links-container {
    display: flex;
    font-family: Oxygen-Bold;
    font-size: 1.125rem;
}

.links-container>* {
    border-inline-end: solid black 1px
}

.links-container>*:first-child {
    border-inline-start: solid rgb(0, 0, 0) 1px
}

.nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 120px;
    transition: all .3s
}

.nav-btn:hover {
    color: #1ab5ed;
    background-color: #353535;
}

.menu-btn {
    display: none;
    min-height: 6rem;
    min-width: 6rem;
    font-size: 2rem;
    color: rgb(250, 255, 255);
    background-color: #303030;
    border: none;
}

/* footer: */

.footer-main {
    bottom: 0px;
    width: 100%;
    background-color: #303030;
    display: flex;
    justify-content: center;
}

.footer-content {
    color: aliceblue;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rights {
    color: #1ab5ed;
    font-size: 1rem;
}

/* img gallery: */

.memes-img-container {
    display: none;
    /* HAS FLEX. REMOVED AFTER SELECTING AN IMGAE(JS) */
    /* HAS CONTAINER */
    justify-content: center;
    margin: 0 auto;
}

.memes-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    width: 100%;
    justify-items: center;
}

.memes-grid-container>* {
    border: solid black 1px;
    cursor: pointer;
}

.meme-img {
    height: 160px;
}

/* meme creator: */

.meme-creator-container {
    display: none;
    /* GETS FLEX AFTER SELECTING AN IMGAE(JS) */
    justify-content: center;
}

.meme-creator-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* canvas: */

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: grab;
}

/* edit-tools: */

.editor-btn {
    border: none;
    background-color: rgb(190, 220, 255);
    color: #101010;
    border-radius: 3px;
}

.edit-icons {
    height: 1.875rem;
}

.editor-btn {
    cursor: pointer;
    transition: background-color .3s;
}

.editor-btn:hover {
    cursor: pointer;
    background-color: #0099ff;
}

.trash-icon:hover {
    background-color: #ff5e00;
}

.fill-color, .stroke-btn {
    width: 60px;
    height: 60px;
}

.download-btn, .confirm-btn, .share-btn {
    font-family: Oxygen-Bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-btn {
    display: none;
    background-color: #17c500;
    transition: background-color .3s;
}

.confirm-btn:hover {
    background-color: #1beb00;
}

.text-input[type="text"] {
    font-size: 1.25rem;
    text-align: center;
}

.save-share-btn {
    font-size: 1.25rem;;
}

.save-share-modal {
    background-color: #fafafa;
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
}

/* helpers: */

.container {
    width: 1200px;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.show-btn {
    display: flex;
}