* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
background-color: blanchedalmond;
}

/* navbar: */
.header-main {
margin-bottom: 10px;
}

.nav-btn {
    height: 100px;
    text-decoration: none;
    color: black;
}

.navbar-main {
    background-color: #ff7f00;
    border-radius: 3px;
}

/* meme editor: */

.meme-editor-container {
    margin-top: 10px;
}

/* canvas: */

.canvas-container {
    margin-right: 10px
}

#my-canvas {
    border: solid black 1px;
}

/* img gallery: */

.memes-grid-container {
    height: auto;
    grid-template-columns: repeat(auto-fill, 120px);
    gap: 5px;
}

.memes-grid-container>* {
    border: solid black 1px;
    cursor: pointer;
}

.meme-img {
    height: 120px;
}

/* helpers */

.container {
    width: 1200px;
}

.text-align-center {
    text-align: center;
}

.clean-link {
    text-decoration: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}