@import 'desktop.css';
@import 'mobile.css' screen and (max-width: 720px);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 0;
}

/* Typography */

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Oxygen-Regular;
    src: url(../fonts/Oxygen-Regular.ttf);
}

@font-face {
    font-family: Oxygen-Bold;
    src: url(../fonts/Oxygen-Bold.ttf);
}

@font-face {
    font-family: impact-phone;
    src: url(../fonts/impact-phone.ttf);
}

/* base: */

html {
    font-family: Oxygen-Regular;
    color: #101010;
}

body {
    background-color: #fafafa;
    height: 100%;
}

main {
    margin-bottom: 100px;
    height: 100%;
}

a {
    color: aliceblue;
    text-decoration: none;
}
